{% extends "UserStoriesBundle::index.html.twig" %}

{% block title %}
    Dodawanie Edycja Email
{% endblock %}

{% block body %} 
    <h3>Dodawanie Adresu Email : </h3>
    {{ form_start(form) }}
    {{ form_row(form.emailAddress) }}
    {{ form_row(form.type) }}
    {{ form_end(form) }}
{% endblock %}
