{% extends "UserStoriesBundle::index.html.twig" %}

{% block title %}
    Dodawanie Edycja Nr. Telefonu
{% endblock %}

{% block body %} 
    <h3>Dodawanie Numeru Telefonu : </h3>
    {{ form_start(form) }}
    {{ form_row(form.phoneNumber) }}
    {{ form_row(form.type) }}
    {{ form_end(form) }}

{% endblock %}
